<h1>Welcome</h1>
<p>Please login</p>

<%= form_for users_path do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
    <%= f.submit "submit" %>
<% end %>

